@import "/src/Partials/variables";
@import "/src/Partials/mixins";

@include theme_default;
@include theme_dark;
@include theme_color;
@include theme_light;

body {
  box-sizing: border-box;
  color: coral;
}
p {
  font-family: sans-serif;
  font-size: x-large;
}
.dropDown {
 @include dropDown
}
.dropDown:hover {
  background-color: rgb(105, 221, 154);
  border-color: cyan;
}
.dropDown:hover * {
  color: white;
  background-color: #f39c12;
}

.background {
  @include background;
  // first Background
  .firstBorder {
    @include Borders(
      $first-box-width,
      $first-box-height,
      $first-border,
      $first-border-radius
    );

    margin: auto;
    padding: auto;

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    // Second Border
    .secondBorder {
      @include Borders(
        $second-box-width,
        $second-box-height,
        $second-border,
        $second-border-radius
      );
      margin: 1.5em auto 2em auto;
      padding: auto;
    }

    // Third Border
    .thirdBorder {
      @include Borders(
        $third-box-width,
        $third-box-height,
        $third-border,
        $third-border-radius
      );
      margin: 1.5em auto 2em auto;
      margin-top: 3.4em;
      padding: auto;

      // Inner Circle
      .innerCircle {
        @include Borders(
          $inner-circle-width,
          $inner-circle-height,
          $inner-circle-border,
          $inner-circle-border-radius
        );
        background-color: white;
        margin-left: auto;
      }
    }
  }
}
