// === Default Theme(Light mode) ===
@mixin theme_default {
  body{
    background-color: gray
  }
}

// === First Theme(Light mode) ===
@mixin theme_light {
  body{
  background-color: whitesmoke;
  }
  .background{
    .firstBorder{
  background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  }
}
}

// === Second Theme (Dark mode) ===
@mixin theme_dark{
  body{
  background-color: #1c1d1f;
  }
  .background{
    .firstBorder{
  background: radial-gradient(
      circle at 30% 107%,
      #e639c0 0%,
      #4ddaec 5%,
      #27e641 45%,
      #dee201fd 60%,
      hsl(310, 92%, 51%) 90%
    );
  }
}
}

// === Third Theme (Color mode) ===
@mixin theme_color {
  body{
    background-color: red;
    //background-image: linear-gradient(cyan,yellow)
    background-image: linear-gradient(to right, red, orange, yellow, green)
  }
  .background{
    .firstBorder{
  background: radial-gradient(
    circle at 30% 107%,
    #18ee3b 0%,
    hsl(337, 89%, 43%) 5%,
    #e652c1ea 45%,
    #ec10aadc 60%,
    #2224bd 90%
  );
  }
}
}

// == NAV ==
@mixin dropDown {
  text-align: center;
  width: 13em;
  height: 3em;
  line-height: 3;
  background: #45c5ec;
  border-color: darkblue;
  border-width: .3em;
  border-radius: 7px;
  box-shadow: 5px 10px rgb(171, 212, 218);
}
// == DIVS==
@mixin background {
  width: $background-width;
  height: $background-height;
}
@mixin Borders($width, $height, $border, $border-radius) {
  width: ($width);
  height: ($height);
  border: ($border);
  border-radius: ($border-radius);
}
