@mixin theme_light {
  background-color: wheat;
}

@mixin lightMode {
  background-color: wheat;
  position: relative;
  width: auto;
  height: auto;
  border: red 5px solid;
}
@mixin theme_dark {
  background-color: wheat;
}
@mixin colorMode {
  background-color: wheat;
}

// == DIVS==
@mixin background {
  width: $background-width;
  height: $background-height;
}
@mixin Borders($width, $height, $border, $border-radius) {
  width: $width;
  height: $height;
  border: $border;
  border-radius: $border-radius;
}
@mixin secondBorder {
  width: $second-box-width;
  height: $second-box-height;
  border: $second-border;
  border-radius: $second-border-radius;
}
@mixin thirdBorder {
  width: $third-box-width;
  height: $third-box-height;
  border: $third-border;
  border-radius: $third-border-radius;
}
@mixin innerCircle {
  width: $inner-circle-width;
  height: $inner-circle-height;
  border: $inner-circle-border;
  border-radius: $inner-circle-border-radius;
  background-color: white;
}
